<div
  class="polygon-info-modal"
  role="dialog"
  aria-modal="true"
  [attr.aria-label]="'assignments.modal.infoAriaLabel' | translate"
>
  <header class="polygon-info-modal__header">
    <span class="polygon-info-modal__code">
      {{ polygon().code }}
    </span>
    <h2 class="polygon-info-modal__name">
      {{ polygon().name }}
    </h2>
  </header>

  <dl class="polygon-info-modal__grid">
    <div>
      <dt>{{ 'assignments.modal.technology' | translate }}</dt>
      <dd>{{ polygon().technology }}</dd>
    </div>
    <div>
      <dt>{{ 'assignments.modal.classification' | translate }}</dt>
      <dd>{{ polygon().classification }}</dd>
    </div>
    <div>
      <dt>{{ 'assignments.modal.totalHouseholds' | translate }}</dt>
      <dd>{{ polygon().totalHouseholds }}</dd>
    </div>
    <div>
      <dt>{{ 'assignments.modal.withoutService' | translate }}</dt>
      <dd>{{ polygon().householdsWithoutService }}</dd>
    </div>
    <div>
      <dt>{{ 'assignments.modal.lastAssignment' | translate }}</dt>
      <dd>
        @if (polygon().lastAssignmentDate) {
          {{ polygon().lastAssignmentDate }}
        } @else {
          {{ 'assignments.modal.neverAssigned' | translate }}
        }
      </dd>
    </div>
  </dl>

  <footer class="polygon-info-modal__footer">
    <button
      type="button"
      class="polygon-info-modal__close"
      (click)="onClose()"
    >
      {{ 'common.actions.close' | translate }}
    </button>
    <button
      type="button"
      class="polygon-info-modal__assign"
      (click)="onAssign()"
    >
      {{ 'assignments.modal.assignAction' | translate }}
    </button>
  </footer>
</div>
